body {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #01315e;
    height: 100vh;
    overflow: hidden;
}
  h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 70px ;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #0fdfd4;
    margin-bottom: -20px;
    padding-top: -100px;
}
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px ;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #0fdfd4;
    margin-bottom: -20px;
    padding-top: -100px;

}
canvas {
    box-shadow: 150px 150px 150px 150px #2403b8;
    border: 3px solid #ffffff;
    border-radius: 40px;
}

#pole {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    
    background-color: #0fdfd4;
    color: #01315e;
    border: rgb(255, 255, 255);
    padding: 10px 25px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}